<div style="display:flex;flex-direction:row;background-color:blue;padding:8px">
  <div class="white-text">
    First Support : V2011.11.1
  </div>
  <div class="white-text">
    Logon Time 17:12:17
  </div>
  <div class="white-text">
    CSS ID : 4AQ
  </div>
  <div class="white-text">
    DVDP
  </div>
</div>
<div style="display:flex;flex-direction:row;justify-content:space-between;padding:4px 8px 2px 8px">

    <div class="well" >
        <p class="black-text">
          Date : 11/15/2011
        </p>
        <p class="black-text">
          Time : 05:14 PM
        </p>
    </div>
    <div class="well" >
        <p class="black-text">
          Q : CNSLS2
        </p>
        <p class="black-text">
          ACCOUNT LOADED
        </p>
    </div>
    <div class="well">
        <p class="black-text">
          Sequence : NONE
        </p>
        <p class="red-text">
          Idle
        </p>
    </div>
    <div class="well">
        <p class="black-text">
          Amount : 0
        </p>
        <p class="black-text">
          Amt Promised :0.00
        </p>
    </div>
    <!-- <div class="well">
        <span class="black-text">
        </span>
    </div> -->
  </div>
