<div class="row header">
    <div class="col s2 full-height">
      <div class="grey">
        <p class="black-text">
          Date : 11/15/2011
        </p>
        <p class="black-text">
          Time : 05:14 PM
        </p>
      </div>
    </div>
    <div class="col s3 full-height">
      <div class="grey">
        <p class="black-text">
          Q : CNSLS2
        </p>
        <p class="black-text">
          ACCOUNT LOADED
        </p>
      </div>
    </div>
    <div class="col s3 full-height">
      <div class="grey">
        <p class="black-text">
          Sequence : NONE
        </p>
        <p class="red-text">
          Idle
        </p>
      </div>
    </div>
    <div class="col s2 full-height">
      <div class="grey">
        <p class="white-text">
          Amount : 0
        </p>
        <p class="black-text">
          Amt Promised :0.00
        </p>
      </div>
    </div>
    <div class="col s2 full-height">
      <div class="grey">
        <span class="black-text">
        </span>
      </div>
    </div>
  </div>
