
<app-header></app-header>
<div style="display:flex;flex-direction:row;justify-content: space-between;">
<div style="display:flex;flex-direction:column;flex:3">
  <div style="display:flex;flex-direction:row;justify-content: space-between;">

<app-account-detail style="flex:1;margin:8px"></app-account-detail>
<app-section-balance style="flex:1;margin:8px"></app-section-balance>
</div>
<div style="display:flex;flex-direction:row;justify-content: space-between;">

<app-section-calender style="flex:1;margin:8px"></app-section-calender>
<app-section-preference style="flex:1;margin:8px"></app-section-preference>
</div>
</div>
<div style="display:flex;flex-direction:column;flex:1">
<app-section-suggestion></app-section-suggestion>
<app-section-cpanel></app-section-cpanel>
</div>
</div>

<router-outlet></router-outlet>
