.header {

}

.panel-default {
  height: 320px;
  overflow-y: auto;
}

.panel {
  margin-bottom: 0px;
}


.red {
  color:red;
}

.blue {
  color:blue;
}

.col-md-8,.col-md-6,.col-md-12,.col-md-4,.col-md-3 {
  padding: 1px;
}
