<div class="container" style="display:flex;flex-direction:column;height:100%;">
  <app-header></app-header>




  <div class="row">


  <div class="row col-md-8" >

  <div class="row" >
    <div class="col-md-6">

    <div class="panel panel-default" >
      <div class="panel-heading">Basic Customer Information</div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-6">

    <div class="panel panel-default" >
      <div class="panel-heading">Balance and Past Due</div>
      <div class="panel-body"></div>
    </div>
</div>
  </div>


  <div class="row" >

    <div class="col-md-6">

    <div class="panel panel-default" >
      <div class="panel-heading">Calendar</div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-6">

    <div class="panel panel-default" >
      <div class="panel-heading">Customer Preference</div>
      <div class="panel-body">
        <textarea name="name" style="width:100%"></textarea>
        <br>
        <input type="text" name="" value="" style="width:100%">
        <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="" style="text-align:center">

        <div class="btn-group" >
          <button type="button" class="btn btn-primary">Hot Keys</button>
          <button type="button" class="btn btn-primary">Manual ARC</button>
        </div>
      </div>

      </div>
    </div>
</div>
  </div>

  </div>

  <div class="row col-md-4" >

    <div class="col-md-12">

    <div class="panel panel-default" style="height:400px;" >
      <div class="panel-heading">Suggestions</div>
      <div class="panel-body">

        <p *ngFor="let suggestion of suggestions"
        [ngClass]="{'red': suggestion.status=='2','blue': suggestion.status=='1'}"
        style="margin-bottom:12px;">*{{suggestion.title}}</p>

      </div>
    </div>
  </div>

  <div class="col-md-12">

    <div class="panel panel-default" style="height:240px;" >
      <div class="panel-heading">Control Panel</div>
      <div class="panel-body"></div>
    </div>
</div>
  </div>



  </div>
</div>
