.header {

}

.panel-default {
  height: 100%;
}

.panel-body{
  height: 100%;
  overflow-y: auto;
  word-break:break-all

}

.panel {
  margin-bottom: 0px;
}


.red {
  color:red;
}

.blue {
  color:blue;
}



.container-fluid {
  padding: 0px;
}


.panel-heading {
  background-color: skyblue;
  color: white;
}

.flex-column{
  display:flex;
  flex-direction:column;
  height:100%;
}
