<div class="container" style="display:flex;flex-direction:column;height:100%;">
  <app-header></app-header>
  <div class="" style="display:flex;flex-direction:row;flex:1;margin:0px 6px 6px 6px;">


  <div class="" style="flex:4;display:flex;flex-direction:column">

  <div class="" style="display:flex;flex-direction:row;flex:1">

    <div class="panel panel-default" style="flex:2">
      <div class="panel-heading">Basic Customer Information</div>
      <div class="panel-body"></div>
    </div>

    <div class="panel panel-default" style="flex:2">
      <div class="panel-heading">Balance and Past Due</div>
      <div class="panel-body"></div>
    </div>

  </div>


  <div class="" style="display:flex;flex-direction:row;flex:1">

    <div class="panel panel-default" style="flex:2">
      <div class="panel-heading">Calendar</div>
      <div class="panel-body"></div>
    </div>

    <div class="panel panel-default" style="flex:2">
      <div class="panel-heading">Customer Preference</div>
      <div class="panel-body">
        <textarea name="name" style="width:100%"></textarea>
        <br>
        <input type="text" name="" value="" style="width:100%">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
        <div class="" style="text-align:center">

        <div class="btn-group" >
          <button type="button" class="btn btn-primary">Hot Keys</button>
          <button type="button" class="btn btn-primary">Manual ARC</button>
        </div>
      </div>

      </div>
    </div>

  </div>

  </div>

  <div class="" style="display:flex;flex-direction:column;flex:2">

    <div class="panel panel-default" style="flex:2">
      <div class="panel-heading">Suggestions</div>
      <div class="panel-body">

        <p *ngFor="let suggestion of suggestions"
        [ngClass]="{'red': suggestion.status=='2','blue': suggestion.status=='1'}"
        style="margin-bottom:12px;">*{{suggestion.title}}</p>

      </div>
    </div>

    <div class="panel panel-default" style="flex:1">
      <div class="panel-heading">Control Panel</div>
      <div class="panel-body"></div>
    </div>

  </div>



  </div>
</div>
