/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  background-color: grey;
}

p {
  margin: 0px;
}

.row {
  margin: 0px;
}
.col-md-8,.col-md-6,.col-md-12,.col-md-4,.col-md-3 {
  padding: 1px;
}
